@font-face {
    font-family: 'sofia pro light';
    src: url('../../fonts/SofiaProLight-webfont.eot');
    src: url('../../fonts/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/SofiaProLight-webfont.woff') format('woff'),
         url('../../fonts/SofiaProLight-webfont.ttf') format('truetype'),
         url('../../fonts/SofiaProLight-webfont.svg#sofia pro light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'salsa';
    src: url('../../fonts/salsa-regular-webfont.eot');
    src: url('../../fonts/salsa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/salsa-regular-webfont.woff') format('woff'),
         url('../../fonts/Salsa-Regular.ttf') format('truetype'),
         url('../../fonts/salsa-regular-webfont.svg#salsa') format('svg');
    font-weight: normal;
    font-style: normal;
}
iframe {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
video {
	background-color: transparent;
	outline: none;
	/*object-fit: cover;*/
}
.title-enhance {
	display: inline-block;
	/*padding: 20%;*/
	border-radius: 5px;
	background: rgba(153,153,153,0.6);
}
tc {
	font-family: "salsa", sans-serif;
}
say {
	font-family: "salsa", sans-serif;
}
tongue {
	font-family: "salsa", sans-serif;
	color: #85c6e9;
	text-shadow: 0px 0px 1.5px #000;
	-webkit-font-smoothing: antialiased;

}
click {
	font-family: "salsa", sans-serif;
	color: #d9d900;
	text-shadow: 0px 0px 1.5px #000;
	-webkit-font-smoothing: antialiased;
}
.todays-date {
	color: rgba(204,204,204,1);
}
hr.hr {
	margin-bottom: 20px;
}
hr.hrHide {
	display: none;
	padding-bottom: 2px;
	background-image: -moz-linear-gradient(top, #008dad, #007b9d);
	background-image: -webkit-linear-gradient(top, #008dad, #007b9d);
	background-image: -ms-linear-gradient(top, #008dad, #007b9d);
	background-image: linear-gradient(top, #008dad, #007b9d);

}
@media screen and (max-width: 980px) {
	hr.hrHide {
		display: block;
	}
}
sig {
	color: rgba(204,204,204,1);
	font-style: normal;
	white-space: nowrap;
}

/* Basic */

	.button, sig, a, #copyright,
	body, h1, h2, h3, h4, strong, p, time, author {
		font-family: "sofia pro light", sans-serif;
		text-transform: none !important;
	}
	
	/*body p {
		font-size: 20px;
	}*/

	h3 {
		font-family: "salsa", sans-serif;
		text-transform: none !important;
	}

	iframe.top {
		margin: 4px 0 2.25em 0;
	}

	video.top {
		margin: 4px 0 2.25em 0;
	}

	#header-wrapper {
		/*border: rgba(255,255,255,1) thick solid;*/
		/*border-bottom: rgba(255,255,255,1) thick solid;*/
	}
	body {
		background-color: transparent;
	}

/* Reusable */

		article.blog-post .todays-date {
			position: absolute;
			top: 0;
			right: 0;
			height: 32px;
			line-height: 24px;
			padding-left: 40px;
			background: none;
		}

/* Header */

		/*#header nav {
			text-transform: none;
		}*/

/* Banner */

	#banner-wrapper {
		/*background:linear-gradient(0deg, rgba(102,102,102,.5),
		rgba(102,102,102,.5)),url(images/example.jpg) no-repeat center;*/
		background: url(images/main.jpg) no-repeat center;
		background-size: cover;
		background-color: rgba(255,255,255,1);
	}

	#banner {
		background-image: none;
		box-shadow :none;
	}

		#banner h1 {
			font-size: 3.3em;
			color: #fff;
			text-align: center;
			letter-spacing: -2px;
			margin: 0;
		}

		#banner span {
			font-size: 1.4em;
			opacity: 1;
		}

/* Footer */

	#footer-wrapper {
		padding: 1em 0;
		background-image: -moz-linear-gradient(top, #008dad, #007b9d);
		background-image: -webkit-linear-gradient(top, #008dad, #007b9d);
		background-image: -ms-linear-gradient(top, #008dad, #007b9d);
		background-image: linear-gradient(top, #008dad, #007b9d);
		background-color: #007b9d;
		/*border: rgba(255,255,255,1) thick solid;*/
	}

/* Copyright */

	#copyright {
		text-align: center;
		color: rgba(204,204,204,1);
		border-top: none;
		padding: 0;
		margin: 0;
	}

		#copyright a {
			color: rgba(204,204,204,1);
			text-decoration: none;
		}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Reusable */

		/* Header */

		/* Banner */

				#banner h1 {
					font-size: 3em;
				}

				#banner span {
					font-size: 1.3em;
				}

		/* Footer */

		/* Copyright */

	}

/* Small */

	@media screen and (max-width: 980px) {

				#banner h1 {
					font-size: 2.5em;
				}

				#banner span {
					font-size: 1.1em;
				}

		/* Page Wrapper */

			#page-wrapper {
				padding-top: 0px;
			}
	}

	@media screen and (max-width: 736px) {

		/* Basic */

			h1 {
				font-size: 1.4em;
			}
			
			/*body p {
				font-size: 19px;
			}*/

		/* Reusable */

			article.blog-post .todays-date {
				display: block;
				position: relative;
				top: -0.5em;
				margin: 0 0 0.5em 0;
				padding-left: 0px;
			}

		/* Banner */

			#banner-wrapper {
				/*background:linear-gradient(0deg, rgba(102,102,102,.5),
				rgba(102,102,102,.5)),url(images/example.jpg) no-repeat center;*/
				background:	url(images/main.jpg) no-repeat center;
				background-size: cover;
				padding: 20px 0;
			}

			#banner {
				box-shadow: none;
			}

				#banner h1 {
					font-size: 2em;
					letter-spacing: -2px;
					line-height: 1.25em;
				}

				#banner span {
					font-size: 0.9em;
				}

	}